#html5AudioSample1Play { /*Задает стиль оформления для id="html5AudioSample1Play". Внутри {} находятся параметры для отображения*/
   color: #333; /*Указывает цвет текста элемента*/
   border: 1px gray solid; /*Задает толщину, стиль, цвет рамки. solid сплошная рамка, rgba цвет рамки (a - полупразрачность)*/
   background: lightgray; /*Задает параметры фона, цвет, картинку, повторение по вертикали/горизонтали, позицию, прокрутку*/
   display: inline-block; /*Указывает как элемент должен быть показан в документе. inline-block - элемент отображается как строчный блок и обтекается текстом*/
   padding: 2px 4px; /*Задает ширину полей внутри элемента, то есть от текса до края элемента*/
   cursor: pointer; /*Устанавливает вид курсора когда он находится в области элемента. Можно указать ссылку на внешний курсор*/
}
#html5AudioSample1Pause { /*Задает стиль оформления для id="html5AudioSample1Pause". Внутри {} находятся параметры для отображения*/
   color: #333; /*Указывает цвет текста элемента*/
   border: 1px gray solid; /*Задает толщину, стиль, цвет рамки. solid сплошная рамка, rgba цвет рамки (a - полупразрачность)*/
   background: lightgray; /*Задает параметры фона, цвет, картинку, повторение по вертикали/горизонтали, позицию, прокрутку*/
   display: inline-block; /*Указывает как элемент должен быть показан в документе. inline-block - элемент отображается как строчный блок и обтекается текстом*/
   padding: 2px 4px; /*Задает ширину полей внутри элемента, то есть от текса до края элемента*/
   cursor: pointer; /*Устанавливает вид курсора когда он находится в области элемента. Можно указать ссылку на внешний курсор*/
}
#html5AudioSample1Stop { /*Задает стиль оформления для id="html5AudioSample1Pause". Внутри {} находятся параметры для отображения*/
   color: #333; /*Указывает цвет текста элемента*/
   border: 1px gray solid; /*Задает толщину, стиль, цвет рамки. solid сплошная рамка, rgba цвет рамки (a - полупразрачность)*/
   background: lightgray; /*Задает параметры фона, цвет, картинку, повторение по вертикали/горизонтали, позицию, прокрутку*/
   display: inline-block; /*Указывает как элемент должен быть показан в документе. inline-block - элемент отображается как строчный блок и обтекается текстом*/
   padding: 2px 4px; /*Задает ширину полей внутри элемента, то есть от текса до края элемента*/
   cursor: pointer; /*Устанавливает вид курсора когда он находится в области элемента. Можно указать ссылку на внешний курсор*/
}